body {
    margin: 0;
    font-family: Arial;
}

.center {
    text-align: center;
    margin-top: 100px;
}

/* 转驻专 爪 */
.sidebar {
    width: 200px;
    background: #f1f5f9;   /* 专拽注 专 拽  */
    height: 100vh;
    float: left;
    padding: 20px;
}

/* 拽砖专 转驻专 */
.sidebar a {
    color: black;          /*  注砖 砖专 */
    display: block;
    margin: 10px 0;
    text-decoration: none;
    font-weight: bold;
}

.sidebar a:hover {
    background: #e2e8f0;
    padding: 5px;
    border-radius: 6px;
}

/* 转 */
.content {
    margin-left: 220px;
    padding: 20px;
}
