body {
    margin: 0;
    font-family: Arial;
}

.center {
    text-align: center;
    margin-top: 100px;
}

.sidebar {
    width: 200px;
    background: #cfe1ff;
    height: 100vh;
    float: left;
    padding: 20px;
}

.sidebar a {
    color: white;
    display: block;
    margin: 10px 0;
    text-decoration: none;
}

.content {
    margin-left: 220px;
    padding: 20px;
}
