<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
<script src="/static/script.js"></script>
</head>
<body>

<div class="sidebar">
    <a href="/dashboard?path=root">📁 קבצים זמינים</a>

    {% if role == "teacher" %}
    <a href="/trash">🗑 אשפה</a>
    <a href="/change_password">🔐 שינוי סיסמה</a>
    {% endif %}

    <a href="/logout">🚪 יציאה</a>
</div>

<div class="content">

<h3>
{% if path == "root" %}
קבצים זמינים
{% else %}
{{ path }}
{% endif %}
</h3>

{% if path != "root" %}
<a href="/dashboard?path={{ '/'.join(path.split('/')[:-1]) }}">⬅ חזור</a>
{% endif %}

{% if role == "teacher" %}

<button onclick="toggleNew()">➕ חדש</button>

<div id="newBox" style="display:none; margin-top:10px;">

<form method="post" action="/create" enctype="multipart/form-data">
<input type="hidden" name="path" value="{{ path }}">

<select name="type" onchange="showFields(this.value)">
<option value="">בחר סוג</option>
<option value="folder">תיקייה</option>
<option value="file">קובץ</option>
<option value="link">קישור</option>
</select>

<div id="nameField" style="display:none;">
<input type="text" name="name" placeholder="שם">
</div>

<div id="fileField" style="display:none;">
<input type="file" name="file">
</div>

<div id="urlField" style="display:none;">
<input type="text" name="url" placeholder="URL">
</div>

<button type="submit">צור</button>
</form>

</div>

{% endif %}

<hr>

<ul>
{% for name, item in folder.children.items() %}
<li>

{% if item.type == "folder" %}
📁 <a href="/dashboard?path={{ path }}/{{ name }}">{{ name }}</a>

{% elif item.type == "file" %}
📄 {{ name }} 
<a href="/download/{{ name }}">⬇</a>

{% elif item.type == "link" %}
🔗 <a href="{{ item.url }}" target="_blank">{{ name }}</a>

{% endif %}

{% if role == "teacher" %}
<a href="/delete?path={{ path }}&name={{ name }}">🗑</a>
{% endif %}

{% if role == "teacher" %}
<a href="/edit?path={{ path }}&name={{ name }}">✏ עריכה</a>
{% endif %}

</li>
{% endfor %}
</ul>

</div>
</body>
</html>
