<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <title>התחברות</title>
</head>
<body style="text-align:center; direction:rtl; font-family:Arial; padding:50px;">

    <h2>בחר סוג משתמש</h2>

    <form method="POST">
        <button name="role" value="student">כניסת תלמיד</button>
    </form>

    <br>

    <form method="POST">
        <input type="hidden" name="role" value="teacher">
        <input type="password" name="password" placeholder="סיסמת מורה">
        <button type="submit">כניסת מורה</button>
    </form>

</body>
</html>
