<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <title>כניסה</title>
</head>
<body style="direction:rtl; font-family:Arial; text-align:center; margin-top:100px;">

<h2>כניסה למערכת</h2>

<form method="POST" action="/login">
    <button type="submit" name="role" value="student">כניסת תלמיד</button>
    <br><br>
    <input type="password" name="password" placeholder="סיסמת מורה">
    <button type="submit" name="role" value="teacher">כניסת מורה</button>
</form>

</body>
</html>
