<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>
<body class="center">

<h2>בחר סוג כניסה</h2>

<form method="post" action="/login">
    <input type="hidden" name="role" value="student">
    <button type="submit">כניסת תלמיד</button>
</form>

<br>

<button onclick="toggleTeacher()">כניסת מורה</button>

<form method="post" action="/login" id="teacherForm" style="display:none;">
    <input type="hidden" name="role" value="teacher">
    <input type="password" name="password" placeholder="סיסמה">
    <button type="submit">אישור</button>
</form>

{% if error %}
<p style="color:red">{{ error }}</p>
{% endif %}

<script>
function toggleTeacher() {
    document.getElementById("teacherForm").style.display = "block";
}
</script>

</body>
</html>
